<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.jambots.laforetchocolate"
        versionCode="6" 
        version   = "1.6">

    <preference name="phonegap-version" value="3.7.0" />
    <name>La Forêt</name>
    <description>La Forêt chocolate</description>
<gap:platform name="android" />
<gap:platform name="ios" /><gap:config-file platform="android" parent="/manifest/application">
    <activity android:launchMode="singleInstance" />
    <preference name="keeprunning" value="false"/>
</gap:config-file>
<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="landscape" />

<preference name="StatusBarOverlaysWebView" value="true" />
<gap:config-file platform="ios" parent="UIStatusBarHidden">
    <true/>
</gap:config-file>
<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
    <false/>
</gap:config-file>


<preference name="permissions" value="none"/>
<gap:splash src="splash960.png" />
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
<gap:plugin name="org.apache.cordova.media" version="0.2.8" />
<gap:plugin name="org.apache.cordova.network-information" version="0.2.12" />
<gap:plugin name="org.apache.cordova.file" version="1.0.1" />
<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.2" />
<gap:plugin name="org.devgeeks.canvas2imageplugin" version="0.6.0" />
<gap:plugin name="io.litehelpers.cordova.sqlitestorage" version="0.7.5" /><access origin="*" />

<icon src="icon512.png" />
<gap:plugin name="com.phonegap.plugins.childbrowser" />
</widget>