#loadingCanvas{position:absolute; Zbackground-color:rgba(0,0,0,.25);}

#debugDiv{top:0px;left:190px; position:absolute; background-color:rgba(255,255,255,.6);}

#infoHolder{
  background-image:url('info.png');
  background-size:contain;
  background-align:center top;
  background-repeat:no-repeat;
  }
.flowPanel{
  background-size:contain;
  background-repeat:no-repeat;
  background-position:50% 50%;
  }
@font-face {
    font-family: 'signify';
    src: url('signify.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'sack';
    src: url('sackh.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}
*{
font-family: 'Arial';
-webkit-user-select:none;
-webkit-backface-visibility:hidden;
}
#debugDiv{
  }
#landscapeMain{
  background-color:#000;
  position:absolute;
  width:100%;
  height:100%;
  }
#flow{
  background-color:#000;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  overflow:hidden;
  }
#portraitMain{
  background-color:#555;
  position:absolute;
  width:100%;
  height:100%;
  }
#thumbsUi{
  background-color:#555;
  position:absolute;
  top:0;
  width:100%;
  height:100%;
  }
#thumbsNavTop{
  position:absolute; 
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  }
#thumbsNavBottom{
  position:absolute;
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  }
#thumbsHolder{
  background-color:#fff;
  width:100%;
  position:absolute;
  top:0;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  }
#thumbsScroller{
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  background-color:#fff;
  width:100%;
  }
#setSelectDim{
  display:none;
  top:0;
  left:-1600px;
  position:absolute;
  background-color:rgba(0,0,0,.5);
  width:100%;
  height:100%;
  }
#setSelectModal{
  position:absolute;
  background-color:#00F;
  width:200px;
  height:300px;
  top:-1000px;
  left:10px;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);

  }
#setSelectNavTop{
  width:100%;
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  }
#setSelectLabel{
  position:absolute;
  text-align:center;
  color:#fff;
  }
#setSelectHolder{
  position:absolute;
  background-color:#ccc;
  width:200px;
  height:250px;
  top:50px;
  left:0px;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  }
#setSelectScroller{
  background-color:#ccc;
  width:180px;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  }



#infoDim{
  display:none;
  left:0;
  position:absolute;
  background-color:rgba(0,0,0,.5);
  width:100%;
  height:100%;
  }
#infoModal{
  position:absolute;
  background-color:#f00;
  width:200px;
  height:300px;
  top:10px;
  left:10px;
  }
#infoNavTop{
  width:100%;
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  position:absolute;
  }
#infoNavBottom{
  width:100%;
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  position:absolute;
  }
#infoLabel{
  position:absolute;
  text-align:center;
  color:#fff;
  }
#infoHolder{
  position:absolute;
  background-color:#fff;
  width:200px;
  height:250px;
  top:50px;
  left:0px;
  }

#thumbsLabel{
  position:absolute;
  text-align:center;
  color:#fff;
  }
#rotorLabel{
  position:absolute;
  text-align:center;
  color:#fff;
  }
#rotorUi{
  display:none;
  background-color:#fff;
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  }
#rotor{
  position:absolute;
  transform-style: preserve-3d;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  }
#rotorNavTop{
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  width:100%;
  position:absolute;
  }
#rotorNavBottom{
  background: -webkit-linear-gradient(top, #4a4a4a 0%, #b2b2b2 2%, #898989 4%, #525252 50%, #1d1d1d 98%, #161616 100%); 
  width:100%;
  position:absolute;
  }


/* butts */
#mailButton{
  position:absolute;
  top:0;
  } 
#linkButton {
  position:absolute;
  top:0;
  }
#saveButton{
  position:absolute;
  top:0;
  }
#prevButton{
  position:absolute;
  top:0;
  }
#nextButton{
  position:absolute;
  top:0;
  }
#faveButton{
  position:absolute;
  top:0;
  }

#infoButton{
  position:absolute;
  top:0;
  }

#thumbsButton{
  position:absolute;
  top:0;
  }
#setSelectButton{
  position:absolute;
  top:0;
  }
#setSelectCancel{
  position:absolute;
  top:0;
  }
#infoCancel{
  position:absolute;
  top:0;
  }
#jambotsButton{
  position:absolute;
  top:0;
  }
#cacheButton{
  position:absolute;
  top:0;
  }









@font-face {
    font-family: 'filo';
    src: url('webttfs/filo.eot');
    src: url('webttfs/filo.eot?iefix') format('eot'),
         url('webttfs/filo.ttf') format('truetype'),
         url('webttfs/filo.svg#helv') format('svg');
}
@font-face {
    font-family: 'filoital';
    src: url('webttfs/filoital.eot');
    src: url('webttfs/filoital.eot?iefix') format('eot'),
         url('webttfs/filoital.ttf') format('truetype'),
         url('webttfs/filoital.svg#helv') format('svg');
}
@font-face {
    font-family: 'filoscaps';
    src: url('webttfs/filoscaps.eot');
    src: url('webttfs/filoscaps.eot?iefix') format('eot'),
         url('webttfs/filoscaps.ttf') format('truetype'),
         url('webttfs/filoscaps.svg#helv') format('svg');
}

@font-face {
    font-family: 'engoth';
    src: url('webttfs/engoth.eot');
    src: url('webttfs/engoth.eot?iefix') format('eot'),
         url('webttfs/engoth.ttf') format('truetype'),
         url('webttfs/engoth.svg#helv') format('svg');
}
@font-face {
    font-family: 'sackm';
    src: url('webttfs/sackm.eot');
    src: url('webttfs/sackm.eot?iefix') format('eot'),
         url('webttfs/sackm.ttf') format('truetype'),
         url('webttfs/sackm.svg#helv') format('svg');
}
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on May 21, 2012 */



@font-face {
    font-family: 'sackh';
    src: url('webttfs/sackh.eot');
    src: url('webttfs/sackh.eot?#iefix') format('embedded-opentype'),
         url('webttfs/sackh.woff') format('woff'),
         url('webttfs/sackh.ttf') format('truetype'),
         url('webttfs/sackh.svg#ATSackersGothicHeavy') format('svg');
    font-weight: normal;
    font-style: normal;

}
.filo{font-family:filo,Georgia, Serif;}
.filoital{font-family:filoital,Georgia, Serif;}
.filoscaps{font-family:filoscaps,Georgia, Serif;}
.engoth{font-family:engoth,Arial,Helvetica,sans-serif;}
.sackm{font-family:sackm;}
.sackh{font-family:sackh;}